@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'reset';
@import 'fonts';
@import 'swiper';

// css variables
$white: #fff;
$black: #000;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@mixin lg {
  @media (min-width: 1025px) {
    @content;
  }
}

body {
  min-width: 375px;
  color: var(--foreground);
  background: var(--background);
}
